* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

.main {
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 210px 20px 130px;
    margin-bottom: 100px;
}

header .menu {
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

header .menu li {
    margin: 0 10px;
}

header .menu li a {
    text-decoration: none;
    color: #2c2f2e;
}

header .Cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chon {
    display: flex;
    padding: 0 200px 0 130px;
    justify-content: space-between;
}

.chon .menu2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chon .menu2 li {
    display: flex;
    justify-content: center;
}

.chon .menu2 li a {
    text-decoration: none;
    color: #459d7a;
}

.Product {
    align-items: center;
    justify-content: space-between;
    padding: 0 200px 0 130px;
}

.sanpham {
    position: relative;
    display: flex;
    flex-direction: column;
}

.img_product {
    display: flex;
    align-items: center;
}

.image1 {
    position: relative;
}

.bestSelling {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 28px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #9b6a1d;
    border-radius: 16px;
    background-color: #f6c870;
    padding: 5px;
    z-index: 1;
}